<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><ul class="glyphicon glyphicon glyphicon-knight"> Ratinglisten</ul></a>
        <ul class="last-updated">{{getDate}}</ul>
      </div>

      {{> auto}}

    </header>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default well">
          Denne nettsiden viser alltid de siste uoffisielle ratingtallene, hentet fra <a href="http://www.sjakk.no/rating/siste.txt" target="_blank">sjakk.no/rating/siste.txt</a>. For å se en ratinggraf med de offisielle ratingtallene, kan man klikke seg inn på en spiller, der man også vil finne annen informasjon om spilleren.
        </div>
      </div>
    </div>
    <div id="main">
      {{> yield}}
    </div>
  </div>
</template>
