<template name="player">
	{{loadImage playerInfo.fide_id}}
	<div class="col-md-6">
		<div class="panel panel-default well">
		  <div class="panel-heading">
		    <h3 class="panel-title"><b>{{playerInfo.fide_title}} {{playerInfo.name}}</b>
		    <div class="yob">
		    	f. {{playerInfo.year_of_birth}}
		    </div>
			</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="image-wrapper">
		  		<img src="{{getImage}}">
			</div>
			<ul class="list-group">
			    <li class="list-group-item">Rating: {{playerInfo.elo}}</li>
			    <li class="list-group-item">FIDE-rating: {{playerInfo.fide_rating}}</li>
			    <li class="list-group-item">Klubb: {{playerInfo.club}}</li>
			    <li class="list-group-item">GP-klasse: {{playerInfo.GP_class}}</li>
			    <li class="list-group-item">Antall partier spilt totalt: {{playerInfo.number_of_games}}</li>
			</ul>
		  </div>
		</div>
	</div>
</template>
