.top-box {
	width: 250px;
}

.player-container {
	width: 100%;
	min-height: 600px;
}

.yob {
	float:right;
	font-style: italic;
}

.right {
	float: right;
	margin-top: 19px;
	margin-left: 5px;
	font-style: italic;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
