<template name="about">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <h1>Sjakkrating.no</h1>
    <div class="intro">
      <p>Sjakkrating.no viser ratinginformasjon for aktive sjakkspillere som er medlem av en norsk sjakklubb. Den uoffisielle ratingen hentes fra <a href="http://www.sjakk.no/rating/siste.txt" target="_blank">sjakk.no/rating/siste.txt</a>, som oppdateres jevnlig. De offisielle ratingene er hentet fra <a href="https://heim.ifi.uio.no/runed/elo.html" target="_blank">Rune Djurhuus' elo-side</a>. Informasjon hentes også fra <a href="https://www.fide.com/" target="_blank">FIDE</a>. Hvis du finner noen feil eller lurer på noe, kan du sende en mail til <span class="changedirection">em.goksniets@nrojbsa</span>.</p>
    </div>
    <div class="info">
      <div class="col-lg-4">
        <img class="img-circle" src="images/topp.png" alt="" width="140" height="140">
        <h2>Topplistene</h2>
        <p>På forsiden ser man norgestopplisten, juniortopplisten og kvinnetopplisten. Disse listene er sortert etter den offisielle norske ratingen.</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="images/rating.png" alt="" width="140" height="140">
        <h2>Ratinggraf</h2>
        <p>Man kan se ratinggrafer for norsk elo, FIDE, lynsjakk og hurtigsjakk ved å søke etter en spiller i søkefeltet. Ved å trykke på ratingene til høyre for grafen, kan man vise og skjule de forskjellige ratingtypene. Hvis man bare vil se ratingprogresjonen over et gitt utsnitt, kan man zoome inn ved å dra over det valgte utsnittet.</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="images/klubb.png" alt="" width="140" height="140">
        <h2>Sjakklubber</h2>
        <p>Fra forsiden kan man klikke seg inn på alle sjakklubbene i Norge. Her vil man kunne se en liste over alle spillerne i klubben, gjennomsnittrating og -alder og annen informasjon om klubben.</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
  <!-- /.row -->
</template>
