<template name="about">
  <div class="row">
    <h1 class="margin-lr">Sjakkrating.no</h1>
    <div class="intro">
      <p class="margin-lr">Sjakkrating.no viser ratinginformasjon for aktive sjakkspillere som er medlem av en norsk sjakklubb. Den uoffisielle ratingen hentes fra <a href="http://www.sjakk.no/rating/siste.txt" target="_blank" rel="noopener noreferrer">sjakk.no/rating/siste.txt</a>, som oppdateres jevnlig. Den offisielle norske ratingene er hentet fra <a href="http://heim.ifi.uio.no/runed/elo.html" target="_blank" rel="noopener noreferrer">Rune Djurhuus' elo-side</a>, som oppdateres hvert kvartal. FIDE-rating (standard, hurtig og lyn) hentes fra <a href="https://www.fide.com/" target="_blank" rel="noopener noreferrer">FIDE</a> og oppdateres hver måned. Hvis du finner noen feil eller lurer på noe, kan du sende en mail til <span class="changedirection unselectable">em.goksniets@nrojbsa</span>.
          Sjakkrating.no er <a href="https://github.com/Assios/sjakkrating.no" target="_blank">open-source</a> og har et <a href="http://sjakkrating.no/api/" target="_blank">API</a>.</p>
    </div>
    <div class="info">
      <div class="col-lg-4">
        <img class="img-circle" src="images/topp.png" alt="" width="140" height="140">
        <h2>Liverating</h2>
        <p>På forsiden ser man norgestopplisten, juniortopplisten og kvinnetopplisten. Disse listene er sortert etter den <i>uoffisielle</i> norske ratingen. Under <a href="http://sjakkrating.no/aldersgrupper">Aldersgrupper</a> ser man topplistene for klassene Kadett, Lilleputt, Miniputt og Senior. Hvis man vil lage sine egne lister, kan man gjøre det under <a href="http://sjakkrating.no/sok">Avansert søk</a>.</p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="images/rating.png" alt="" width="140" height="140">
        <h2>Statistikk</h2>
        <p>Man kan se ratinggrafer for norsk elo, FIDE, lynsjakk og hurtigsjakk ved å søke etter en spiller i søkefeltet. På <a href="http://sjakkrating.no/statistikk">statistikksiden</a> kan man se ratingfordeling i tillegg til litt diverse statistikk.</p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="images/klubb.png" alt="" width="140" height="140">
        <h2>Sjakklubber</h2>
        <p>Fra forsiden kan man klikke seg inn på alle sjakklubbene i Norge. Her vil man kunne se en liste over alle spillerne i klubben, gjennomsnittrating og -alder og annen informasjon om klubben.</p>
      </div>
    </div>

    <div class="col-lg-12">
        <p class="text-center about-bottom"><b>Denne siden er gratis og reklamefri. Donasjoner kan vippses til 47504585.</b></p>
    </div>

  </div>
</template>
