<template name="advancedGamesPlayer">
<!--
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading"><b>Navn</b></div>
    <ul class="list-group">
      <li class="list-group-item">{{> surnameFilter }}</li>
    </ul>
  </div>
</div>
-->

<div class="col-md-3">
      {{> generalFilter }}
      <br>
      <button type="button" class="btn btn-default search" aria-label="Left Align">
  			<span>Søk</span>
	  </button>
</div>
<br>

{{> reactiveTable settings=settings}}

</template>
