<template name="advancedSearch">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Rating</b></div>
        <ul class="list-group">
          <li class="list-group-item">{{> greaterThanFilter }}</li>
          <li class="list-group-item">{{> lessThanFilter }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Alder</b></div>
        <ul class="list-group">
          <li class="list-group-item">{{> greaterThanAgeFilter }}</li>
          <li class="list-group-item">{{> lessThanAgeFilter }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
      	<div class="panel-heading"><b>Sjakklubb</b></div>
        <ul class="list-group">
          <li class="list-group-item">{{> chessClubFilter }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Kjønn</b></div>
        <ul class="list-group">
          <li class="list-group-item">{{> genderFilter }}</li>
        </ul>
      </div>
    </div>
</div>{{> reactiveTable settings=settings}}
</template>
