<template name="ageTop">
	<div class="full-width rating-legend">
	  <span class="label label-success">Grønn</span> boks indikerer oppgang i rating. <span class="label label-danger">Rød</span> boks indikerer nedgang i rating. <span class="label label-default">Grå</span> boks indikerer uendret rating.
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><b data-toggle="tooltip" title="Født i {{kadett}} eller senere">Kadettoppen</b></div>
		  <ul class="list-group">
			{{#each topKadett 100}}
		    	<li class="list-group-item toplist"><div class="name">{{place}}. 
		    			<b>{{fide_title}}</b> 
		    		<a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="list-label {{labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  </ul>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><b data-toggle="tooltip" title="Født i {{lilleputt}} eller senere">Lilleputt</b></div>

		  <ul class="list-group">
			{{#each topLilleputt 100}}
		    	<li class="list-group-item toplist"><div class="name">{{place}}. 
		    			<b>{{fide_title}}</b> 
		    		<a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="list-label {{labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  </ul>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><b data-toggle="tooltip" title="Født i {{miniputt}} eller senere">Miniputt</b></div>

		  <ul class="list-group">
			{{#each topMiniputt 100}}
		    	<li class="list-group-item toplist"><div class="name">{{place}}. 
		    			<b>{{fide_title}}</b> 
		    		<a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="list-label {{ labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  </ul>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><b data-toggle="tooltip" title="Født i {{senior}} eller tidligere">Seniortoppen</b></div>
			{{#each topSenior 100}}
		    	<li class="list-group-item toplist"><div class="name">{{place}}. 
		    			<b>{{fide_title}}</b> 
		    		<a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="list-label {{ labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  <ul class="list-group">
		  </ul>
		</div>
	</div>

</template>
