<template name="clubPage">
		<div class="col-md-6">
			<div class="panel panel-default well">
			  <div class="panel-heading">
			    <h3 class="panel-title"><b>{{club_name}}</b>
					{{#if website}}
						<a href="{{website}}" class="btn btn-sm btn-default" target="_blank">Besøk klubbens nettside</a>
				    {{/if}}
				</h3>
			  </div>
			  <div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">Antall spillere: {{number_of_players club_name}}</li>
					<li class="list-group-item">Snittrating: {{average_rating club_name}}</li>
					<li class="list-group-item">Snittalder: {{average_age}}</li>
				</ul>
			  </div>
			</div>

			{{> highchartsHelper chartId=_id chartWidth="100%" charHeight="100%" chartObject=genderRatio}}

			<div class="panel panel-default well">
					{{>disqus disqus_id=club_name}}
			</div>
		</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><b>Klubbens spillere</b></div>
			  	{{#each club_players club_name}}
			    	<li class="list-group-item toplist">{{place}}. <a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a>
			    			<span class="{{labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
			    	</li>
			    {{/each}}
			  <ul class="list-group">
			  </ul>
			</div>
		</div>
	</div>

</template>
