<template name="player">
	{{loadImage fide_id}}
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default well">
			  <div class="panel-heading">
			    <h3 class="panel-title"><b>{{name}}</b>
			    <div class="yob">
			    	f. {{year_of_birth}}
			    </div>
				</h3>
			  </div>
			  <div class="panel-body">
			  	<div class="image-wrapper">
			  		<img src="{{getImage}}">
					</div>
				<ul class="list-group">
						<li class="list-group-item">Offisiell rating: {{nsf_elo}}</li>
				    <li class="list-group-item">Uoffisiell rating: {{elo}}
				    	{{#if isNegative}}
				    		<span style="color:red;" title="Differanse mellom offisiell og uoffisiell rating.">{{eloDifference}}</span>
				    	{{else}}
				    		<span style="color:green;" title="Differanse mellom offisiell og uoffisiell rating.">{{eloDifference}}</span>
				    	{{/if}}
				    	</li>
				    {{#if fide_elo}}
						<li class="list-group-item">FIDE-rating: {{fide_elo}}</li>
						{{/if}}
				    {{#if blitz_elo}}
						<li class="list-group-item">Lyn: {{blitz_elo}}</li>
						{{/if}}
				    {{#if rapid_elo}}
						<li class="list-group-item">Hurtig: {{rapid_elo}}</li>
						{{/if}}
				    <li class="list-group-item">Klubb: <a href="{{pathFor 'clubPage' _id=this.club}}">{{club}}</a></li>
				    <li class="list-group-item">Antall spilte partier: {{number_of_games}} <span title="Antall partier spilt siden siste offisielle rating.">{{gamesDifference}}</span></li>
				</ul>
				<i>{{name}} er bedre enn {{better_than}}% av spillerne.{{ratingPerGame}}</i>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default well">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Annet</b></h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						{{#if fide_id}}
							<li class="list-group-item"><a href="https://ratings.fide.com/card.phtml?event={{fide_id}}" target="_blank">FIDE-profil</a></li>
						{{/if}}
					    <li class="list-group-item"><a href="http://norbase.sjakk.biz/index.php?page=base&header=0&subpage=search&action=view&white={{surname}},+{{first_name}}&nocolor=on&headline=Partier+med+{{name}}" target="_blank">Partier fra NorBase</a></li>
					    <li class="list-group-item"><a href="http://www.chessgames.com/perl/chess.pl?yearcomp=exactly&year=&playercomp=either&pid=&player={{surname}}, {{first_name}}&pid2=&player2=&movescomp=exactly&moves=&opening=&eco=&result=" target="_blank">Partier fra chessgames.com</a></li>
					    <li class="list-group-item"><a href="http://www.365chess.com/search_result.php?wlname={{surname}}&wname={{first_name}}&open=&blname=&bname=&eco=&nocolor=on&yeari=&yeare=&sply=1&ply=&res=&submit_search=1" target="_blank">Partier fra 365chess.com</a></li>
					</ul>
				</div>
			</div>		
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{{> highchartsHelper chartId=_id chartWidth="100%" charHeight="100%" chartObject=ratingChart}}
		</div>
	</div>
</template>
