<template name="player">
	{{loadImage fide_id}}
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default well">
			  <div class="panel-heading">
			    <h3 class="panel-title"><b>{{name}}</b>
			    <div class="yob">
			    	f. {{year_of_birth}}
			    </div>
				</h3>
			  </div>
			  <div class="panel-body">
			  	<div class="image-wrapper">
			  		<img src="{{getImage}}">
					</div>
				<ul class="list-group">
						<li class="list-group-item">Offisiell rating: {{lastElement nsf_elos}}</li>
				    <li class="list-group-item">Uoffisiell rating: {{elo}}</li>
				    {{#if fide_elos}}
						<li class="list-group-item">FIDE-rating: {{lastElement fide_elos}}</li>
						{{/if}}
				    <li class="list-group-item">Klubb: <a href="{{pathFor 'clubPage' _id=this.club}}">{{club}}</a></li>
				    <li class="list-group-item">Klasse: {{GP_class}}</li>
				    <li class="list-group-item">Antall spilte partier: {{number_of_games}}</li>
				</ul>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default well">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Partier med {{name}}</b></h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
					    <li class="list-group-item"><a href="http://norbase.sjakk.biz/index.php?page=base&header=0&subpage=search&action=view&white={{surname}},+{{first_name}}&nocolor=on&headline=Partier+med+{{name}}" target="_blank">Partier fra NorBase</a></li>
					    <li class="list-group-item"><a href="http://www.chessgames.com/perl/chess.pl?yearcomp=exactly&year=&playercomp=either&pid=&player={{surname}}, {{first_name}}&pid2=&player2=&movescomp=exactly&moves=&opening=&eco=&result=" target="_blank">Partier fra chessgames.com</a></li>
					    <li class="list-group-item"><a href="http://www.365chess.com/search_result.php?wlname={{surname}}&wname={{first_name}}&open=&blname=&bname=&eco=&nocolor=on&yeari=&yeare=&sply=1&ply=&res=&submit_search=1" target="_blank">Partier fra 365chess.com</a></li>
					</ul>
				</div>
			</div>		
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{{> highchartsHelper chartId=_id chartWidth="100%" charHeight="100%" chartObject=ratingChart}}
		</div>
	</div>
</template>
