<template name="topList">

	<div class="col-sm-3">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><b>Norgestoppen</b></div>
		  <ul class="list-group">
			{{#each topElo 100}}
		    	<li class="list-group-item"><div class="name">{{place}}. <a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="{{labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}

		  </ul>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><b>Juniortoppen</b></div>

		  <ul class="list-group">
			{{#each topJuniors 100}}
		    	<li class="list-group-item"><div class="name">{{place}}. <a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="{{labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  </ul>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><b>Kvinnetoppen</b></div>

		  <ul class="list-group">

			{{#each topWomen 50}}
		    	<li class="list-group-item"><div class="name">{{place}}. <a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="{{labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  </ul>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><b>Sjakklubber</b></div>
		  	{{#each listClubs}}
			  		<li class="list-group-item"><a href="{{pathFor 'clubPage' _id=this.club_name}}">{{club_name}}</a></li>
		  	{{/each}}
		  <ul class="list-group">
		  </ul>
		</div>
	</div>
</template>
