<template name="topList">
	<div class="full-width rating-legend">
	  <span class="label label-success">Grønn</span> boks indikerer oppgang i rating. <span class="label label-danger">Rød</span> boks indikerer nedgang i rating. <span class="label label-default">Grå</span> boks indikerer uendret rating.
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default">
		  <div class="panel-heading"><b>Norgestoppen</b></div>
		  <ul class="list-group">
			{{#each topElo 100}}
		    	<li class="list-group-item toplist"><div class="name">{{place}}. 
		    			{{fide_title}} 
		    		<a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="list-label {{labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  </ul>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default">
		  <div class="panel-heading"><b>Juniortoppen</b></div>

		  <ul class="list-group">
			{{#each topJuniors 100}}
		    	<li class="list-group-item toplist"><div class="name">{{place}}. 
		    			{{fide_title}} 
		    		<a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="list-label {{labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  </ul>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default">
		  <div class="panel-heading"><b>Kvinnetoppen</b></div>

		  <ul class="list-group">
			{{#each topWomen 50}}
		    	<li class="list-group-item toplist"><div class="name">{{place}}. 
		    			{{fide_title}} 
		    		<a href="{{pathFor 'player' _id=this.nsf_id}}">{{name}}</a></div>
		    			<span class="list-label {{ labelBasedOnRatingDifference elo nsf_elo}}">{{elo}}</span>
		    	</li>
		  {{/each}}
		  </ul>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default">
		  <div class="panel-heading"><b>Sjakklubber</b></div>
		  	{{#each listClubs}}
			  		<li class="list-group-item"><a href="{{pathFor 'clubPage' _id=this.club_name}}">{{club_name}}</a></li>
		  	{{/each}}
		  <ul class="list-group">
		  </ul>
		</div>
	</div>
</template>
