.top-box {
	width: 250px;
}

.player-container {
	width: 100%;
	min-height: 600px;
}

.yob {
	float:right;
	font-style: italic;
}

.last-updated {
	float: right;
	margin-top: 19px;
	margin-left: 5px;
	font-style: italic;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.image-wrapper {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
	position:absolute;
	top:0;
	left:0;
	margin-left: 250px;
	margin-bottom: 50px;
	z-index:10;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

@media screen and (max-width: 600px) {
  .image-wrapper {
    visibility: hidden;
  }
}

.image-wrapper img {
    width: 100%;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.unselectable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info {
    margin-top: 50px;
}

.changedirection {
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align:left;
}

.img-circle {
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.advanced-search {
    margin-left: 120px;
}

.button-wrapper {
    padding-bottom: 50px;
}

th[data-sort] {
  cursor:pointer;
}

.radio-group {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.gender-indicator {
    text-align: right;
    float: right;
}

.nodisplay {
    display: none;
}

.label {
    float: right;
}

.truncate {
    width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    float: left;
    width: 170px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.toplist {
    height: 40px;
}

.full-width {
    width: 100%;
}

.info-header {
    float: right;
    line-height: 50px;
}

#iron-router-progress {
    background-color : #A6EAFF;
    box-shadow       : 0 0 5px #B0E7F7;
}
