body {
  padding-top: 100px;
}

.navbar {
  background: rgba(249, 249, 249, 0.9);
  padding-bottom: 5px;
}

.navbar-brand ul {
  padding-left: 2px;
}

.top-box {
  width: 250px;
}

.player-container {
  width: 100%;
  min-height: 600px;
}

ul.notifications {
  position: fixed;
}

.yob {
  float:right;
  font-style: italic;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  position:absolute;
  top:0;
  left:0;
  margin-left: 280px;
  margin-bottom: 50px;
  z-index:10;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

@media screen and (max-width: 600px) {
  .image-wrapper, .trophy {
    visibility: hidden;
  }
}

.image-wrapper img {
  width: 100%;
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.chessboard {
  margin: auto;
}

.chess-buttons {
  margin: auto;
}

.back-arrow {
  margin-right: 10px;
}

.game-heading {
  margin-bottom: 30px;
}

.center-text {
  margin: auto;
  text-align: center;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.unselectable {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info {
  margin-top: 50px;
}

.changedirection {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align:left;
}

.img-circle {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.advanced-search {
  margin-left: 120px;
}

.button-wrapper {
  padding-bottom: 50px;
}

th[data-sort] {
  cursor:pointer;
}

.radio-group {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.gender-indicator {
  text-align: right;
  float: right;
}

.nodisplay {
  display: none;
}

.list-label {
  float: right;
}

.truncate {
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  float: left;
  width: 80%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

@media screen and (max-width: 1200px) {
  .name {
    width: 70%;
  }  
}

.toplist {
  height: 40px;
}

.full-width {
  width: 100%;
}

.info-header {
  float: right;
  line-height: 50px;
}

#iron-router-progress {
  background-color : #A6EAFF;
  box-shadow       : 0 0 5px #B0E7F7;
}
#
.full-width {
  width: 100%;
}

.rating-legend {
  margin-bottom: 10px;
  text-align: center;
}

.statrow {
  margin-bottom: 50px;
}

.easy-search-input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding: 5px 12px;
}

.flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  display: none;
}

.trophy {
  position: relative;
  width: 100px;
  height: 100px;
  position:absolute;
  top:0;
  left:0;
  margin-left: 380px;
  margin-bottom: 50px;
  z-index:10;
}

.trophy:hover{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(252, 250, 0, 0.9);
  -moz-box-shadow:    0px 0px 50px 0px rgba(252, 250, 0, 0.9);
  box-shadow:         0px 0px 50px 0px rgba(252, 250, 0, 0.9);
}