<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><ul class="glyphicon glyphicon glyphicon-{{random_piece}}"> Sjakkrating.no</ul></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{activeIfTemplateIs 'FrontPage'}}"><a href="{{ pathFor 'frontPage' }}">Liverating</a></li>
          <li class="dropdown {{activeIfTemplateIs 'GirlTop'}} {{activeIfTemplateIs 'AgeTop'}}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alderslister <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ pathFor 'ageTop' }}">Klasser (alle)</a></li>
              <li><a href="{{ pathFor 'girlTop' }}">Klasser (jenter)</a></li>
              <li><a href="{{ pathFor 'ageGroup' }}">Grupper (alle)</a></li>
              <li><a href="{{ pathFor 'ageGroup' query='gender=f' }}">Grupper (jenter)</a></li>
            </ul>
          </li>
          <li class="{{activeIfTemplateIs 'RatingGain'}}"><a href="{{ pathFor 'ratingGain' }}">Fremgang</a></li>
          <li class="{{activeIfTemplateIs 'AdvancedSearch'}}"><a href="{{ pathFor 'advancedSearch' }}">Avansert søk</a></li>
          <li class="{{activeIfTemplateIs 'Stats'}}"><a href="{{ pathFor 'stats'}}">Statistikk</a></li>
          <li class="{{activeIfTemplateIs 'LichessList'}}"><a href="{{ pathFor 'lichessList'}}">Onlinesjakk</a></li>
          <li class="{{activeIfTemplateIs 'About'}}"><a href="{{ pathFor 'about'}}">Om</a></li>
        </ul>

        <span class="info-header unselectable visible-md visible-lg">
          <i>Oppdatert {{format_date}}.</i>
        </span>
        <button type="button" id="btnRespNav" class="btn-navbar navbar-toggle slideout-menu-toggle pull-left" data-toggle="collapse" data-target="#login-navbar-collapse"></button>
      </div>

      {{> auto}}
    </div>
  </nav>
</template>
