<template name="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><ul class="glyphicon glyphicon glyphicon-king"> Sjakkrating.no</ul></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{activeIfTemplateIs 'FrontPage'}}"><a href="{{ pathFor 'frontPage' }}">Topplistene</a></li>
          <li class="{{activeIfTemplateIs 'advancedSearch'}}"><a href="{{ pathFor 'advancedSearch' }}">Avansert søk</a></li>
          <li class="{{activeIfTemplateIs 'About'}}"><a href="{{ pathFor 'about'}}">Om</a></li>
          <!--<li class=""><a href="#">Antall partier</a></li>-->
        </ul>
      </div>
    </div>
    {{> auto}}
  </nav>
</template>
