<template name="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><ul class="glyphicon glyphicon glyphicon-king"> Sjakkrating.no</ul></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{activeIfTemplateIs 'FrontPage'}}"><a href="{{ pathFor 'frontPage' }}">Liverating</a></li>
          <li class="{{activeIfTemplateIs 'AdvancedSearch'}}"><a href="{{ pathFor 'advancedSearch' }}">Avansert søk</a></li>
          <li class="{{activeIfTemplateIs 'Stats'}}"><a href="{{ pathFor 'stats'}}">Statistikk</a></li>
          <li class="{{activeIfTemplateIs 'About'}}"><a href="{{ pathFor 'about'}}">Om</a></li>
        </ul>
          <span class="info-header"><i>Liveratingen ble sist oppdatert 26. oktober 2015.</i></span>
      </div>
    </div>
    {{> auto}}
  </nav>
</template>
